html body.cro-t-ki193 .cro-t-ki193-review {
    background: #F2F2F2;
}

html body.cro-t-ki193 .cro-t-ki193-review-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px 0;
}

html body.cro-t-ki193 .cro-t-ki193-review-left-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

html body.cro-t-ki193 .cro-t-ki193-review-left-hellopeter-img {
    width: 100%;
    max-width: 140px;
}

html body.cro-t-ki193 .cro-t-ki193-review-left-hellopeter-img img {
    width: 100%;
}

html body.cro-t-ki193 .cro-t-ki193-review-left-review-star-img {
    width: 100%;
    max-width: 119.954px;
    height: 18.206px;
    display: flex;
    align-items: center;
}

html body.cro-t-ki193 .cro-t-ki193-review-left-review-star-img svg {
    width: 100%;
}

html body.cro-t-ki193 .cro-t-ki193-review-right-text {
    color: var(--Dark-Grey, #212529);
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

html body.cro-t-ki193 .cro-t-ki193-review-right-text span {
    color: var(--Light-Blue, #40AEE1);
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

html body.cro-t-ki193 #hellopeter {
    display: none;
}

@media (min-width:992px) {
    html body.cro-t-ki193 #hero .et_pb_row .et_pb_column_1_2 {
        padding-top: 27px !important;
    }

    html body.cro-t-ki193 #valuestacks {
        margin-top: 56px;
    }


}

html body.cro-t-ki193 .cro-t-ki193-banner-img-wrapper {
    position: absolute;
    bottom: 0;
    width: 550px;
}

html body.cro-t-ki193 img.cro-banner-img {
    width: 100%;
}

@media (max-width:1199px) {
    html body.cro-t-ki193 .cro-t-ki193-banner-img-wrapper {
        width: 520px;
    }
}

@media (max-width:991px) {
    html body.cro-t-ki193 .cro-t-ki193-review-left-wrapper {
        flex-direction: column;
    }

    html body.cro-t-ki193 .cro-t-ki193-review-inner {
        flex-direction: column;
    }

    html body.cro-t-ki193 .cro-t-ki193-banner-img-wrapper {
        position: unset;
        margin: 0 auto;
    }

    html body.cro-t-ki193 div#hero {
        padding-bottom: 0;
        background: #EFEFEF;
    }

    html body.cro-t-ki193 img.cro-banner-img {
        transform: scaleX(-1);
    }

    html body.cro-t-ki193 #valuestacks {
        margin-top: 40px;
    }

    html body.cro-t-ki193 .cro-t-ki193-banner-img-wrapper {
        margin-top: 36px;
    }
}

@media (max-width:980px) {
    html body.cro-t-ki193 .cro-t-ki193-review-inner {
        gap: 16px;
        padding: 40px 0;
    }

    html body.cro-t-ki193 .cro-t-ki193-review-left-hellopeter-img {
        width: 100%;
        max-width: 260px;
    }

    html body.cro-t-ki193 .cro-t-ki193-review-left-review-star-img {
        max-width: 180px;
        height: 100%;
    }

    html body.cro-t-ki193 img.cro-stars-rating {
        width: 100%;
    }

    html body.cro-t-ki193 .cro-t-ki193-review-right-text {
        font-size: 35.2px;
        text-align: center;
    }

    html body.cro-t-ki193 .cro-t-ki193-review-right-text span {
        font-size: 35.2px;
    }

    html body.cro-t-ki193 .cro-t-ki193-banner-img-wrapper {
        max-width: 780px;
        width: 100%;
    }
}